<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["titre"]
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/HockeyRebels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tp2JordanCoutureLafranchise.styles.css" asp-append-version="true" />

    <!-- Add Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Add custom font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/images/logo.jpg">
    @* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@




</head>
<body class="container">
    <header>
        <div class="containerlogo">
            <a href="/">
                <img class="logo img-fluid" src="/Images/logo.jpg" alt="logo">
            </a>
        </div>


        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-2x fa-chevron-circle-down" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <a asp-controller="Enfant" asp-action="Recherche">Recherche</a>
                @*        <a href="/favoris/index">Favoris</a>*@
                <a href="/DirecteurGenerals/index">DG</a>
                <a href="/Entraineurs/index">Entraineurs</a>
                @if (this.User.IsInRole("User") )
                {
                    <a href="/directeurgenerals/StatistiqueJoueur">Statistique des joueurs</a>
                  
                }

                @if (this.User.IsInRole("Admin"))
                {
                    <a href="/directeurgenerals/StatistiqueEntraineur">Statistiques des entraineurs</a>
                }
                <partial name="_LoginPartial" />
            </div>
        </div>



        @if (this.User.IsInRole("Admin"))
        {

            <div class="bouton">
                <a class="Bouton" href="/gestionenfant/create"><i class="fa-solid fa-user-plus blanc fa-2x"></i></a>
            </div>
        }
        <div class="col-md-2 text-right">
            @await Html.PartialAsync("_SelectLanguage")
        </div>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <table class="center">
                            <tr>
                                <td> <i class="fas fa-phone iconsleft" style="color: #ffffff;"></i></td>
                                <td>  <h5 class="fontmedium blanc">+1 514 456-7890</h5></td>
                            </tr>
                            <tr>
                                <td>  <i class="fa-regular fa-envelope iconsleft" style="color: #ffffff;"></i></td>
                                <td>  <h5 class="fontmedium blanc">HockeyRebels@support.ca</h5></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6 instagramtwitterfacebook">
                <i class="fab fa-facebook-f iconsright blanc"></i>
                <i class="fab fa-twitter iconsright blanc"></i>
                <i class="fab fa-instagram iconsright blanc"></i>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <script>

        $(document).ready(function () {
            $('#summernote').summernote({

            });
        });


        function replacePTags(content) {
            content = content.replace(/<p[^>]*>/gi, "");
            content = content.replace(/<\/p>/gi, "\n");

            return content;
        }


        function getProcessedContent() {
            var content = $('#summernote').summernote('code');
            var processedContent = replacePTags(content);
            $('#summernote').summernote('code', processedContent);
        }

        var isAnimated = false;
        $(".animation").hover(function () {
            if (!isAnimated) {
                $(this).stop().animate({

                    width: "59%"
                }, 1000); // Animation duration in milliseconds
                isAnimated = true;
            } else {
                $(this).stop().animate({

                    width: 278 + "px" // Return to original width (unset for auto)
                }, 1000); // Animation duration in milliseconds

                isAnimated = false;
            }
        });

        var data = {
            labels: ["Jan", "Fév", "Mar", "Avr", "Mai", "Juin"],
            datasets: [{
                label: "Ventes mensuelles",
                data: [120, 150, 180, 130, 200, 160],
                backgroundColor: "rgba(75, 192, 192, 0.6)"
            }]
        };

        // Configurer le graphique à barres
        var options = {
            responsive: true,
            maintainAspectRatio: false
        };

        // Créer le graphique
        var ctx = document.getElementById("barChart").getContext("2d");
        var myBarChart = new Chart(ctx, {
            type: "bar",
            data: data,
            options: options
        });


    </script>
</body>
</html>
